.headerText { padding-bottom:20px; }
.chartHeader TD { padding-bottom:5px; }
.firstRow TD { padding-top:5px; }
.inputOption, .inputOption SELECT, .inputOption INPUT { font-size:18px; }
.typeData {
    background-color: #4d4d4f;
    border-radius: 8px;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    color: #faf7f7;
    height: 360px;
    overflow-y: scroll;
}

.mainCureContent {
    font-size: 18px;
}

.subCureContent {
    font-size: 12px;
    padding-top: 1.0em;
}

div.cureWrapper {
    padding-top: 5px;
    padding-left: 5px;
}